.url-form
  %h3="Enter URL"
  = form_for(new_earl, remote: true) do |f|
    .input-group.input-group-lg
      = f.text_field :full_url, { class: "form-control", placeholder: "e.g.: https://www.youtube.com/watch?v=Gn2yttLwYlo" }
      .input-group-btn
        = f.button t('components.buttons.go'), type: :submit, class: 'btn btn-success'