= render partial: "form", locals: { new_earl: new_earl }
#your-url-container
%h3
  Most Visited

.list-group
  - earls.each do |earl|
    = link_to truncate(earl.full_url, length: 50), earl, class: "list-group-item"
.btn-group{ role: "group" }
  = paginate earls, left: 1, right: 4
