= render partial: "form", locals: { new_earl: new_earl }
#your-url-container
%h3
  Most Visited
.list-group#earls
  = render partial: "list_earls", locals: { earls: earls }
#load-more
  %button.btn.btn-success
    = t('compontnets.buttons.load_more')
